body {
    margin: 0;
    // in css sheets you will ALWAYS make body margin 0
}

h1 {
    font-size: 72px;
}
h2 {
    color: red
}
p{
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 20px solid blue;

}

// to create columns you can use class sections (similar to id section)